<div class="allPosts">
  <% if (posts.length > 0) { %> <% posts.forEach(post => { %>
  <div class="post-container">
    <p class="creationDate">
      <%= new Date(post.createdAt).toLocaleDateString() %>
    </p>
    <h3 class="postAuthor"><%= post.name %></h3>
    <p class="postMsg"><%= post.message %></p>
  </div>
  <% }); %> <% } else { %>
  <p>No posts were found.</p>
  <% } %> <% if (comments.length > 0) { %> <% comments.forEach(comment => { %>
  <div class="comment-container">
    <p class="creationDate">
      <%= new Date(comment.createdAt).toLocaleDateString() %>
    </p>
    <p class="postMsg"><%= comment.message %></p>
  </div>
  <% }); %> <% } %> <%- include("./addComment") %>
</div>
